/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin         : 0;
  padding        : 0;
  border         : 0;
  outline        : 0;
  vertical-align : baseline;
  background     : transparent;
  font-size      : 100%;
  }
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border : none;
  }
:focus {
  outline      : none;
  -moz-outline : none !important;
  }
input[type="checkbox"]:focus {
  -moz-outline-offset : -1px !important;
  -moz-outline        : none !important;
  }
*:focus {
  -moz-outline        : none !important;
  -moz-outline-offset : 1px !important;
  -moz-outline-radius : 5px !important;
  }
textarea:focus, button:focus, select:focus, input:focus {
  -moz-outline-offset : -1px !important;
  }
input[type="radio"]:focus {
  -moz-outline-radius : 12px !important;
  -moz-outline-offset : 0px !important;
  }
a {
  font-size      : 100%;
  vertical-align : baseline;
  background     : transparent;
  }
table { border-collapse : collapse; border-spacing : 0; margin: 0; }
td, td img {
  border: 2px solid #000000;
  padding: 4px;
  vertical-align: top;
  }
sub, sup { font-size : 75%; line-height : 0; position : relative; vertical-align : baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display : block; }
nav ul, nav ol { list-style : none; list-style-image : none; margin : 0; padding : 0; }
audio, canvas, video { display : inline-block; *display : inline; *zoom : 1; }
audio:not([controls]) { display : none; }
[hidden] { display : none; }
svg:not(:root) { overflow : hidden; }
legend { border : 0; *margin-left : -7px; padding : 0; white-space : normal; }
button, input, select, textarea { font-size : 100%; margin : 0; vertical-align : baseline; *vertical-align : middle; outline : 0 none; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor : pointer; -webkit-appearance : button; *overflow : visible; }
button[disabled], input[disabled] { cursor : default; }
input[type="checkbox"] {
  /*height: inherit;*/
  vertical-align : baseline; }
input[type="checkbox"] + label { padding-left : 5px; }
input[type="radio"] { margin : 0 5px 10px 0; vertical-align : baseline; }
input[type="radio"]+label { margin : 0 20px 0 0; }
/* --------------- /reset.css --------------- */
/* --------------- default ------------------ */
.icon { background : url("../../../../../../gala/sandbox/uktrast-backup/css/layout/ukrtrastSprite.png") 0 0 no-repeat transparent; display : inline-block; }
.top { top : 0; }
.left { left : 0; }
.right { right : 0; }
.bottom { bottom : 0; }
.padnull { padding : 0 !important; }
.marnull { padding : 0 !important; }
.padtop { padding-top: 20px; }
.padbot { padding-bottom: 20px; }
.fl { float : left; }
.fr { float : right; }
.clearfix { *zoom : 1; }
.clearfix:before,
.clearfix:after { display : table; line-height : 0; content : ""; }
.clearfix:after { clear : both; }
.none,.hidden { display : none; }
.block { display : block; }
.tablecell { display : table-cell; }
.inlineblock { display : inline-block; }
.ofh { overflow : hidden; }
.abs { position : absolute; }
.rel { position : relative; }
.nouser { user-select : none; -webkit-user-select : none; -moz-user-select : none; cursor : default; }
.smallText{font-size: 12px; line-height: 14px;}
.smallerText{font-size: 10px; line-height: 12px;}
.tinyText{font-size: 8px; line-height: 10px;}
.tal { text-align : left; }
.tar { text-align : right; }
.tac { text-align : center; }
.vat { vertical-align : top; }
.vam { vertical-align : middle; }
.vab { vertical-align : bottom; }
.oneLineText{
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  }
.borderBottom{
  border-bottom: 1px solid #cccccc;
  }
.borderTop{
  border-top: 1px solid #cccccc;
  }
/* --------------- /default ----------------- */
.imgPlace { }
.imgPlace a {
  display        : table-cell;
  text-align     : center;
  vertical-align : middle;
  }
.imgPlace a img {
  height : auto;
  width  : auto;
  }
.row-fluid {
  *zoom : 1;
  }

.row-fluid:before,
.row-fluid:after {
  display     : table;
  line-height : 0;
  content     : "";
  }

.row-fluid:after {
  clear : both;
  }

.row-fluid [class*="span"] {
  display            : block;
  float              : left;
  width              : 100%;
  min-height         : 30px;
  margin-left        : 2.127659574468085%;
  *margin-left       : 2.074468085106383%;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
  }

.row-fluid [class*="span"]:first-child {
  margin-left : 0;
  }
.row-fluid .span12 {
  width  : 100%;
  *width : 99.94680851063829%;
  }

.row-fluid .span11 {
  width  : 91.48936170212765%;
  *width : 91.43617021276594%;
  }

.row-fluid .span10 {
  width  : 82.97872340425532%;
  *width : 82.92553191489361%;
  }

.row-fluid .span9 {
  width  : 74.46808510638297%;
  *width : 74.41489361702126%;
  }

.row-fluid .span8 {
  width  : 65.95744680851064%;
  *width : 65.90425531914893%;
  }

.row-fluid .span7 {
  width  : 57.44680851063829%;
  *width : 57.39361702127659%;
  }

.row-fluid .span6 {
  width  : 48.93617021276595%;
  *width : 48.88297872340425%;
  }

.row-fluid .span5 {
  width  : 40.42553191489362%;
  *width : 40.37234042553192%;
  }

.row-fluid .span4 {
  width  : 31.914893617021278%;
  *width : 31.861702127659576%;
  }

.row-fluid .span3 {
  width  : 23.404255319148934%;
  *width : 23.351063829787233%;
  }

.row-fluid .span2 {
  width  : 14.893617021276595%;
  *width : 14.840425531914894%;
  }

.row-fluid .span1 {
  width  : 6.382978723404255%;
  *width : 6.329787234042553%;
  }
