@import "reset.css";
@import "font.css";
/*====================default two column layout*/
html {
  height : 100%
  }
body {
  background : none repeat scroll 0 0 #becedd;
  color      : #27221e;
  font       : 14px/16px Arial, sans-serif;
  height     : 100%;
  margin     : 0;
  min-height : 100%;
  position   : relative;
  text-align : left;
  }
#leftColumn {
  background-color : #2D6189;
  border-right     : 4px solid #1F4460;
  bottom           : 0;
  min-height       : 650px;
  position         : fixed;
  top              : 0;
  width            : 236px;
  }
#rightColumn {
  background-color : #ffffff;
  border-top       : 4px solid #ffe400;
  height           : 100%;
  margin-left      : 240px;
  width            : 740px;
  z-index          : 1;
  }
#rightColumn .innerContainer {
  position : relative;
  overflow: hidden;
  z-index  : 1;
  }
.rightColumBg {
  background-color : #fff;
  top              : 4px;
  bottom           : 0;
  position         : absolute;
  left             : 240px;
  right            : 0;
  }
.container {
  background-color : #FFFFFF;
  box-shadow       : 0 0 4px 4px rgba(0, 0, 0, 0.15);
  margin           : 0;
  min-height       : 100%;
  position         : relative;
  width            : 980px;
  }
#header {
  background-color : rgba(242, 246, 249, 0.6);
  border-top       : 1px solid #d49b00;
  border-bottom    : 1px solid rgba(206, 209, 212, 0.6);
  height           : 34px;
  padding          : 10px 18px 9px 36px;
  position         : relative;
  z-index          : 10;
  }
#wrapper {
  background-color : rgba(255, 255, 255, 0.8);
  min-height       : 120px;
  padding          : 0 20px;
  position         : relative;
  /*z-index: 10;*/
  z-index          : 9;
  }
.footer-height {
  height : 83px;
  }
#footer {
  background-color : #CCCCCC;
  border-top       : 1px solid #A3A3A3;
  bottom           : 0;
  height           : 63px;
  left             : 240px;
  position         : absolute;
  right            : 0;
  z-index          : 1;
  }
#footer .innerContainer {
  line-height : 30px;
  margin      : 0;
  padding     : 16px 20px;
  width       : 700px;
  }
#loader {
  padding    : 22px 0;
  text-align : center;
  }
/*====================default two column layout end*/
#leftColumn .bordered { border-bottom : 1px solid rgba(126, 154, 176, 0.5); }
#leftColumn a { color : #fff }
#leftColumn a.active { color : #ffe400; font-weight : bold; }
#leftColumn a:hover {
  background-color : #28577b;
  color            : #aac1ce;
  text-decoration  : none;
  }
#leftColumn .lineBlock { padding : 20px 16px 20px 20px; }
#leftColumn .leftSubMenu .lineBlock { padding : 10px 16px 10px 20px; }
.siteLanguage { }
#leftColumn .siteLanguage a:hover,
#leftColumn .siteLanguage a {
  background-color : transparent;
  font-size        : 14px;
  font-weight      : normal;
  margin-right     : 10px;
  }
.logoPlace { background-color : #28577b; }
.logoPlace a { padding : 37px 16px 37px 20px; }
#leftColumn nav a {
  font-size   : 16px;
  line-height : 18px;
  }
.leftMenu { }
.leftMenuLink { }
.leftMenuLink a { padding : 10px 16px 10px 20px; }
.leftMenuLink a:hover { }
.leftMenuLink a .icon {
  height : 18px;
  margin : 0 10px -2px 0;
  width  : 18px;
  }
.icpricelist { background-position : -1px -2px; }
.icaboutCompany { background-position : -20px -2px; }
.iccontacts { background-position : -40px -2px; }
.leftMenuLink a.active .icpricelist { background-position : -1px -22px; }
.leftMenuLink a:hover .icpricelist { background-position : -1px -42px; }
.leftMenuLink a.active .icaboutCompany { background-position : -20px -22px; }
.leftMenuLink a:hover .icaboutCompany { background-position : -20px -42px; }
.leftMenuLink a.active .iccontacts { background-position : -40px -22px; }
.leftMenuLink a:hover .iccontacts { background-position : -40px -42px; }
.leftSubMenu { padding : 14px 0; }
.leftSubMenuLink { }
.leftSubMenuLink a { }
.leftSubMenuLink a:hover {
  background-color : #28577b;
  color            : #aac1ce;
  }
.leftSubMenuLink a.active { background-color : #28577b; }
.searchPanel { padding : 30px 16px 30px 20px; }
.searchBlock input[type="text"] {
  background-color : #245276;
  border           : 1px solid #4F7A9C;
  color            : #4F7A9C;
  font-size        : 14px;
  padding-right    : 38px;
  width            : 148px;
  }
.searchBlock input[type="text"]:hover {
  border-color       : #4F7A9C !important;
  box-shadow         : none;
  -moz-box-shadow    : none;
  -webkit-box-shadow : none;
  cursor             : pointer;
  }
.searchBlock input[type="text"]:focus {
  background-color   : #fff;
  box-shadow         : none;
  -moz-box-shadow    : none;
  -webkit-box-shadow : none;
  color              : #000;
  cursor             : text;
  }
.searchBlock .icon,
.searchBlock:hover input[type="text"]:focus + .icon {
  background-position : -60px -0px;
  height              : 20px;
  right               : 27px;
  top                 : 41px;
  width               : 20px;
  }
.searchBlock { }
.searchBlock:hover .icon { background-position : -60px -20px; }
.searchBlock:hover input { background-color : #376990; }
.searchBlock:hover ::-webkit-input-placeholder {
  color : #1c3f5b;
  }
.searchBlock:hover :-moz-placeholder {
  color : #1c3f5b;
  }
.searchBlock:hover ::-moz-placeholder {
  color : #1c3f5b;
  }
.searchBlock:hover :-ms-input-placeholder {
  color : #1c3f5b;
  }

/*
*
*
*
*
*
*/
.cityPhoneNumbPlace { }
.cityPhoneName { color: #666; text-align : right; width : 64px; }
.cityPhoneNumb { }
.cityPhoneNumb h1 { margin : 4px 20px 4px 14px; }
.pageTitle {
  background-color : rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2;
  }
.pageTitle h1 { }
.subTitle h1 {
  margin-left  : 0;
  margin-right : 0;
  }
.subTitlePanel {
  background-color : #f9fbfc;
  font-size        : 12px;
  line-height      : 14px;
  margin           : 0 -20px;
  padding          : 12px 20px;
  }
.subTitlePanel h1 { margin : 0; }
.subTitlePanel .active {
  color       : #000;
  font-weight : bold;
  }
.subTitlePanel nav ul {
  font-size   : 0;
  line-height : 0;
  }
.subTitlePanel nav li {
  display      : inline-block;
  font-size    : 12px;
  line-height  : 14px;
  margin-right : 10px;
  }
.subTitlePanel nav { cursor : default; }
.defaultList {
  margin : 0 -20px;
  }
.defaultListBlock {
  border-bottom : 1px solid #ccc;
  padding       : 16px 20px;
  }
.defaultListBlock .columnleft {
  width : 120px;
  }
.defaultListBlock .columnleft .imgBlock {
  }
.defaultListBlock .columnright {
  margin-left : 140px;
  }
.defaultListBlock .columnright .itemTitle,
.defaultListBlock .columnright .info {
  margin-bottom : 12px;
  }
.defaultListBlock .columnright .itemPrevText {
  line-height : 22px;
  }

.newsList { }
.newsListBlock { }
.searchList { }
.searchListBlock { }
.publishList { }
.publishListBlock { }
.publishListBlock .columnleft {
  width : 140px;
  }
.publishListBlock .columnright {
  margin-left : 160px;
  }
.publishListBlock .columnleft img {
  max-width : 140px !important;
  }
.randomNewsBlock {
  padding  : 18px 20px 18px;
  height   : 101px;
  overflow : hidden;
  }
.randomNews { }
.randomNews .imgPlace {
  height   : 100px;
  margin   : 0 20px 0 0;
  overflow : hidden;
  width    : 140px;
  }
.randomNews .imgPlace a {
  height : 100px;
  width  : 140px;
  }
.randomNews .imgPlace a img {
  max-height : 100px;
  max-width  : 140px;
  }
.randomNews .titlePlace {
  height      : 100px;
  line-height : 20px;
  margin      : 0 0 0 160px;
  overflow    : hidden;
  }
.randomNews .titlePlace a { }
.newsTitle { }
.newsBody {
  padding : 20px 0;
  }
.newsPrev { padding-bottom : 20px; }
.newsPrevImg { padding-right : 20px; }
.newsPrevTag { line-height : 20px; }
.newsPrewInfo { }
.newsPrewInfo .info { margin-top : 14px; }
.newsText { }
.newsTags { padding-top : 20px; }
.socFollowers {
  padding : 20px;
  margin  : 0 -20px;
  }
.defFigure a:link { line-height : 36px; }
.relatedNews a:link {
  display       : block;
  text-overflow : ellipsis;
  overflow      : hidden;
  white-space   : nowrap;
  }
.innerBgImage {
  background-color : #fff;
  border-bottom: 1px solid #CCCCCC;
  height           : 320px;
  position         : relative;
  z-index          : 1;
  }
.innerMap {
  border-bottom: 1px solid #CCCCCC;
  height: 320px;
  position: relative;
  }
.innerBgImage img {
  position : absolute;
  width    : 100%;
  top      : -58px;
  }
.gradientTop {
  background : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZGZlMyIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background : -moz-linear-gradient(top, rgba(217, 223, 227, 0.5) 0%, rgba(255, 255, 255, 1) 25%);
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(217, 223, 227, 0.5)), color-stop(25%, rgba(255, 255, 255, 1)));
  background : -webkit-linear-gradient(top, rgba(217, 223, 227, 0.5) 0%, rgba(255, 255, 255, 1) 25%);
  background : -o-linear-gradient(top, rgba(217, 223, 227, 0.5) 0%, rgba(255, 255, 255, 1) 25%);
  background : -ms-linear-gradient(top, rgba(217, 223, 227, 0.5) 0%, rgba(255, 255, 255, 1) 25%);
  background : linear-gradient(to bottom, rgba(217, 223, 227, 0.5) 0%, rgba(255, 255, 255, 1) 25%);
  filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#80d9dfe3', endColorstr='#ffffff', GradientType=0);
  }
.commentList { }
.commentBlock { }
.commentBlock .comentTitleLine { padding-bottom : 10px; }
.commentBlock .comentTitleLine .authorName { }
.commentBlock .comentTitleLine .authorName + .gray { padding-left : 10px; }
.commentBlock .comment { }
.commentBlock .answerTo { padding-top : 8px }
.addCommentForm { }
.commentFormRow { padding-bottom : 20px; }
.addCommentForm label {
  display: inline-block;
  line-height: 26px;
  vertical-align: middle;
  width: 160px;
  }
.addCommentForm .checkboxLabel {
  display : block;
  padding : 12px 0 0 0;
  width   : 300px;
  }
.addCommentForm .checkboxLabel input {
  width : auto;
  }
.addCommentForm input { width : 300px; }
.addCommentForm textarea {
  height : 100px;
  vertical-align: top;
  width  : 300px;
  resize : none;
  }
.addCommentForm .offset2 {
  margin-left : 160px;
  }
.skypeBlock {
  line-height : 36px;
  margin      : 0 0 0 20px;
  text-align  : right;
  }
.listServices{}
.listServices .category{}
.listServices .category h4{
  height: 62px;
  margin: 0 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
.listServices .category h4 img{
  margin: 0 20px -20px 0;
  }
.listServices .category nav{}
.listServices .category nav ul{
  list-style-image: url("../../../../../../gala/sandbox/uktrast-backup/css/layout/mdash.png");
  list-style-position: outside;
  padding: 0 0 0 60px;
  }
.listServices .category nav ul li{line-height: 24px;}
.printic{
  background-position: -100px -2px;
  height: 18px;
  margin: 0 12px -4px 0;
  width: 20px;
  }
.button:hover .printic,
.button:focus .printic{
  background-position: -100px -22px;
  }
.button:active .printic{
  background-position: -100px -42px;
  }
#wrapper > .mailToUs{
  margin-left: -20px;
  margin-right: -20px;
  padding-left:20px;
  padding-right:20px;
  }
.addquestionBlock{}
.subInfo{
  background: url("../../../../../../gala/sandbox/uktrast-backup/css/layout/infopic.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  margin: 4px 0 0 -40px;
  padding: 0 0 0 30px;
  }
.subInfo p{padding-bottom: 20px;}
.button .downloadic{  margin: 0 8px -4px 0;}
.button:hover .downloadic,
.button:focus .downloadic{  background-position: -80px -22px;}
.button:active .downloadic{  background-position: -80px -42px;}
.downloadic{
  background-position: -80px -2px;
  height: 18px;
  width: 20px;
  }
.innerMap .adressNavBlock{
  position: absolute;
  right: 0;
  top: 30px;
  }
.adressNavBlock{
  background: url("../../../../../../gala/sandbox/uktrast-backup/css/layout/adressBlockBg1.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  display: block;
  height: 182px;
  padding: 0 0 0 14px;
  }
.adressNavInnerBlock{
  background: url("../../../../../../gala/sandbox/uktrast-backup/css/layout/adressBlockBg2.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 126px;
  padding: 28px 20px 28px 14px;
  }
.adressNavBlock .adressInfo{
  line-height: 18px;
  text-align: right;
  }
.adressNavBlock .adressInfo{  }
.adressNavBlock .adressInfo p{ 
  font-size: 18px;
  line-height : 22px;
  }
.button-group{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
.button-group > .button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 0;
  }
.button-group > .button:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  }
.button-group > .button {
  float: left;
  margin-left: -1px;
  padding: 0 32px;
  position: relative;
  }
.button-group > .button:hover,
.button-group > .button:focus{}
.button-group > .button.active,
.button-group > .button:active{
  background: none repeat scroll 0 0 #E2E3E5;
  border-color: #94A1A8;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.15) inset;
  color: #000000;
  cursor: default;
  }
.button-group > .button.active{font-weight: bold;}


#footer .socLinks { height : 30px }
#footer .socLinks ul {
  font-size   : 0;
  line-height : 0;
  }
#footer .socLinks li {
  display      : inline-block;
  font-size    : 12px;
  line-height  : 14px;
  margin-right : 4px;
  }
#footer .socLinks li .icon {
  display : inline-block;
  height  : 30px;
  width   : 30px;
  }
#footer .socLinks li .vk { background-position : -142px 0; }
#footer .socLinks li .vk:hover { background-position : -142px -30px; }
#footer .socLinks li .fb { background-position : -176px 0; }
#footer .socLinks li .fb:hover { background-position : -176px -30px; }
#footer .socLinks li .tw { background-position : -210px 0; }
#footer .socLinks li .tw:hover { background-position : -210px -30px; }
.defaultSubTwoColum{
  border-top: 1px solid #dadada;
  background-color: #f3f3f3;
  margin: 0 -20px -20px -20px;
  padding: 20px 20px 0;
  }
.defaultSubTwoColum figure{
border-top: 4px solid #ffe400;
  }
.defaultSubTwoColum figure figcaption{
  height: 56px;

  }
.defaultSubTwoColum figure figcaption h4{
  line-height: 56px;
  }
.defaultSubTwoColum figure ul{
  list-style: none;
  }
.defaultSubTwoColum figure ul li{
  border-top: 1px solid #cccccc;
  padding: 14px 0;
  }
.defaultSubTwoColum.row-fluid .span6{
  margin-left: 3.5%;
  width: 48.25%;
  }
.defaultSubTwoColum.row-fluid [class*="span"]:first-child {
  margin-left: 0;
  }
.defaultSubTwoColum .longerText:after{
  content:"...";
  }
.defaultSubTwoColum,
.defaultSubThreeRow{
  color:#000;
  }
.defaultSubTwoColum table,
.defaultSubThreeColum table,
.defaultSubTwoColum td,
.defaultSubThreeColum td,
.defaultSubTwoColum td img,
.defaultSubThreeColum td img{
  border: medium none;
  line-height: 22px;
  margin: 0;
  padding: 0;
  }
.defaultSubTwoColum td,
.defaultSubThreeColum td{ padding-right: 8px; }

.defaultSubThreeColum{}
.defaultSubRow{
  background-color: #F3F3F3;
  border-top: 1px solid #ccc;
  border-bottom:1px solid #ccc;
  line-height : 22px;
  margin: 0 -20px;
  padding: 20px;
  }
.defaultSubRow figure{
  border-left: 4px solid #ffe400;
  padding-left: 20px;
  }
.defaultSubRow figcaption{padding-bottom: 12px}
.defaultSubRow h4{}
/***small dropdown menu***/
.activationPopup {
  }

.popup-menu {
  background            : #ffffff;
  border-radius         : 5px;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  padding               : 10px;
  position              : absolute;
  z-index               : 15;
  }

.popup-center {
  }

.popup-center p {
  border-radius         : 3px 3px 3px 3px;
  color                 : #272F36;
  cursor                : pointer;
  line-height           : 24px;
  padding               : 0 11px;
  border-radius         : 3px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  }

.popup-center p:hover {
  background : #d3e0ea;
  }

/***small dropdown menu***/
.orderCall {
  cursor : pointer;
  width  : 217px;
  }
.abElem { }
.orderCall .abElem:hover,
.orderCall .abElem {
  text-decoration : none;
  }
.orderCall .abElem {
  background-color: rgba(242, 246, 249, 0.6);
  border: 1px solid #DADFE2;
  border-radius         : 4px 4px 4px 4px;
  -moz-border-radius    : 4px 4px 4px 4px;
  -webkit-border-radius : 4px 4px 4px 4px;
  color                 : #0368B3;
  line-height           : 36px;
  padding               : 10px 24px 10px 14px;
  }
.orderCall .popup-menu {
  background-color      : #FFFFFF;
  border-color          : #FFFFFF #F6F6F6 #F6F6F6;
  border-radius         : 0 0 4px 4px;
  -moz-border-radius    : 0 0 4px 4px;
  -webkit-border-radius : 0 0 4px 4px;
  border-style          : solid;
  border-width          : 0 1px 1px;
  padding               : 14px 12px;
  width                 : 189px;
  }
.orderCall:hover .abElem,
.orderCall:hover .popup-menu { background-color:#fff; border-color : #a0adb4; }
.orderCall .abElem .icon {
  height : 6px;
  margin : 16px 4px;
  width  : 10px;
  }
.orderCall:hover .active .abElem .icon { background-position : -245px -34px; }
.orderCall:hover .passive .abElem .icon { background-position : -245px -24px; }
.orderCall .active { }
.orderCall .active .abElem {
  background-color:#fff;
  border-bottom-color   : #fff;
  border-radius         : 4px 4px 0 0;
  -moz-border-radius    : 4px 4px 0 0;
  -webkit-border-radius : 4px 4px 0 0;
  }
.orderCall .active .abElem span,
.orderCall .passive .abElem span {
    color: inherit;
    text-decoration: none;
}
.orderCall .active .abElem .icon { background-position : -245px -14px; }
.orderCall .passive { }
.orderCall .passive .abElem { }

.orderCall .passive .abElem .icon { background-position : -245px -4px; }
.orderCall .popup-menu .popup-center { }
.orderCall .popup-menu .popup-center input { width : 169px; }
.orderCall .popup-menu .popup-center .button { width : 189px; }
.orderCall .popup-menu .popup-center input,
.orderCall .popup-menu .popup-center .button {
  display : block;
  margin  : 0 0 10px;
  }










